services:
  mariadb:
    image: mariadb:11.1
    container_name: "binbogami_mariadb"
    restart: "no"
    volumes:
      - "./docker/volumes/mariadb:/var/lib/mysql"
    ports:
      - "3306:3306"
    env_file:
      - ".env.docker"
    networks:
      - "binbogami"
  mailcatcher:
    image: dockage/mailcatcher:0.9
    container_name: "binbogami_mailcatcher"
    restart: "no"
    ports:
      - "1080:1080"
      - "1025:1025"
    env_file:
      - ".env.docker"
    networks:
      - "binbogami"
networks:
  binbogami:
    name: "binbogami"
    external: true